.cart-page {
  width: 1200px;
  max-width: 100%;
  margin: auto;
  padding: 0 30px;
}

.cart-product-img {
  width: 200px;
  height: auto;
}

.cart-item {
  display: flex;
  flex-direction: row;
}

.cart-item-info {
  flex: 1;
}

.cart-table {
  width: 100%;
}

table.cart-table, .cart-table th, .cart-table td {
  border: 1px solid black;
  border-collapse: collapse;
}

.cart-table th, .cart-table td {
  padding: 5px;
  text-align: left;    
}

.cart-continue {
  float: left;
}
.cart-total {
  float: right;
}

.checkout-button {
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 27px;
  padding: 18px 28px;
  font-size: 13.5px;
  text-decoration: none;
  float: right;
}

.checkout-button-container {
  padding: 20px 0;
}

/* mobile only */

.mobile-only {
  display: none;
}
@media screen and (max-width: 768px) {
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
  .checkout-button {
    float: unset;
    width: 100%;
    display: inline-block;
  }
}