.item-button {
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 27px;
    padding: 18px 28px;
    font-size: 13.5px;
    text-decoration: none;
    white-space: nowrap;
    margin: 0 4px;
  }

  .item-buttons-container {
      padding: 40px;
  }